<?xml version="1.0" encoding="UTF-8"?>
<jasperReport xmlns="http://jasperreports.sourceforge.net/jasperreports" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://jasperreports.sourceforge.net/jasperreports http://jasperreports.sourceforge.net/xsd/jasperreport.xsd" name="null" language="groovy" pageWidth="595" pageHeight="842" columnWidth="535" leftMargin="20" rightMargin="20" topMargin="20" bottomMargin="20" uuid="c64fa11b-dd06-4286-b2fc-2e171ebd5381">
	<property name="template.type" value="columnar"/>
	<style name="Title" forecolor="#000000" fontName="Times New Roman" fontSize="50" isBold="false" pdfFontName="Times-Bold"/>
	<style name="SubTitle" forecolor="#666666" fontName="Times New Roman" fontSize="18" isBold="false" pdfFontName="Times-Roman"/>
	<style name="Column header" forecolor="#666666" fontName="Times New Roman" fontSize="14" isBold="true" pdfFontName="Times-Roman"/>
	<style name="Detail" mode="Transparent" fontName="Times New Roman" pdfFontName="Times-Roman"/>
	<style name="Row" mode="Transparent" fontName="Times New Roman" pdfFontName="Times-Roman">
		<conditionalStyle>
			<conditionExpression><![CDATA[$V{REPORT_COUNT}%2 == 0]]></conditionExpression>
			<style mode="Opaque" backcolor="#F0EFEF"/>
		</conditionalStyle>
	</style>
	<queryString language="SQL">
		<![CDATA[SELECT * FROM eventdetails e LEFT OUTER JOIN eventvenue ev on e.eventID=ev.eventID LEFT OUTER JOIN venuedetails v ON v.venueID=ev.venueID LEFT OUTER JOIN eventcater ec ON ec.eventID=e.eventID LEFT OUTER JOIN caterdetails c ON c.caterID=ec.caterID LEFT OUTER JOIN eventdeco ed ON ed.eventID=e.eventID LEFT OUTER JOIN decodetails d ON d.decoID=ed.decoID 
WHERE e.eventID=62
]]>
	</queryString>
	<field name="eventID" class="java.lang.Integer">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="eventName" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="eventType" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="eventStartDate" class="java.sql.Date">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="eventEndDate" class="java.sql.Date">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="eventStartTime" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="eventEndTime" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="eventAvgNumPrsn" class="java.lang.Integer">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="eventSpclNte" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="avgPrice" class="java.lang.Integer">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="spclNote" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="venueName" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="venueAddress" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="venueCity" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="venueEmail" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="venueTP" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="typeOfMeal" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="breakfast" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="lunch" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="dinner" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="evngTea" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="cocktail" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="caterName" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="caterAddress" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="caterEmail" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="caterTP" class="java.lang.Integer">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="flowers" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="candles" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="balloons" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="ornemants" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="lights" class="java.lang.Boolean">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="avgCost" class="java.lang.Double">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="decoName" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="decoAddress" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="decoEmail" class="java.lang.String">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<field name="decoTP" class="java.lang.Integer">
		<fieldDescription><![CDATA[]]></fieldDescription>
	</field>
	<group name="eventID">
		<groupExpression><![CDATA[$F{eventID}]]></groupExpression>
		<groupHeader>
			<band height="31">
				<frame>
					<reportElement mode="Opaque" x="0" y="7" width="555" height="24" forecolor="#B89F7D" backcolor="#9DB1B8" uuid="a6d73c6c-c442-48cd-a436-e409ef6bb3cd"/>
					<textField isStretchWithOverflow="true" isBlankWhenNull="true">
						<reportElement style="SubTitle" isPrintRepeatedValues="false" x="2" y="1" width="479" height="23" forecolor="#FFFFFF" uuid="e881b9f0-65ca-43c4-8c0f-2b1764c643f5"/>
						<textElement>
							<font isBold="false"/>
						</textElement>
						<textFieldExpression><![CDATA[$F{eventID}]]></textFieldExpression>
					</textField>
				</frame>
			</band>
		</groupHeader>
		<groupFooter>
			<band height="6"/>
		</groupFooter>
	</group>
	<background>
		<band splitType="Stretch"/>
	</background>
	<title>
		<band height="132" splitType="Stretch">
			<image>
				<reportElement x="2" y="0" width="118" height="132" uuid="6064aab9-6542-458a-9a55-76c8ae61482d"/>
				<imageExpression><![CDATA["tree1.png"]]></imageExpression>
			</image>
			<staticText>
				<reportElement style="Title" x="120" y="10" width="435" height="93" uuid="1aeb3ebe-4523-4db0-a30b-c7cbbf7386e6"/>
				<textElement>
					<font size="80" isBold="false"/>
				</textElement>
				<text><![CDATA[Tree Title]]></text>
			</staticText>
			<staticText>
				<reportElement style="SubTitle" x="336" y="103" width="217" height="29" uuid="d03039b5-dbbd-4cda-9278-30a38d156584"/>
				<textElement>
					<font size="22" isBold="false"/>
				</textElement>
				<text><![CDATA[Tree SubTitle]]></text>
			</staticText>
		</band>
	</title>
	<pageHeader>
		<band splitType="Stretch"/>
	</pageHeader>
	<columnHeader>
		<band splitType="Stretch"/>
	</columnHeader>
	<detail>
		<band height="700" splitType="Stretch">
			<image>
				<reportElement x="2" y="0" width="56" height="80" uuid="8f68860a-e1a0-43ec-86a9-77a7c63c591f"/>
				<imageExpression><![CDATA["tree2.png"]]></imageExpression>
			</image>
			<line>
				<reportElement positionType="FixRelativeToBottom" x="2" y="90" width="551" height="1" uuid="e489489f-ba3b-4185-9ebc-7e9efb7a2233"/>
			</line>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="0" width="132" height="20" forecolor="#000000" uuid="2945fb80-0e99-471f-9eba-68564ff9435c"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[eventName]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="0" width="338" height="18" uuid="c892c26e-43ba-4f5c-aeac-f75002347e81"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{eventName}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="20" width="132" height="20" forecolor="#000000" uuid="009c554e-b5c2-49fe-bfe5-052898be52e6"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[eventType]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="20" width="338" height="18" uuid="68084193-9e67-4781-b4e7-6b050788dd39"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{eventType}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="40" width="132" height="20" forecolor="#000000" uuid="8f349129-e5a3-4e4b-909e-e3bf66b127fc"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[eventStartDate]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="40" width="338" height="18" uuid="2c0827b4-2a57-4846-98f6-3aeee1b6f68d"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{eventStartDate}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="60" width="132" height="20" forecolor="#000000" uuid="846f7a72-fb04-441b-845e-a67899879173"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[eventEndDate]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="60" width="338" height="18" uuid="73fef52c-5f28-4ac3-88c3-ac8606ae8e00"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{eventEndDate}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="80" width="132" height="20" forecolor="#000000" uuid="759d0554-7788-4ad5-9698-8d587ababc8f"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[eventStartTime]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="80" width="338" height="18" uuid="e7899701-50cc-4c66-ace0-fcc0aa51e3fa"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{eventStartTime}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="100" width="132" height="20" forecolor="#000000" uuid="ced67556-1d60-4b6f-8d7b-0e2a594aeaa9"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[eventEndTime]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="100" width="338" height="18" uuid="39343e57-ea2a-49a5-b560-867d2c0bfb42"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{eventEndTime}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="120" width="132" height="20" forecolor="#000000" uuid="95e96604-f91b-4e95-9cdf-f4f00b0b8345"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[eventAvgNumPrsn]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="120" width="338" height="18" uuid="23fb5ad7-e87e-444d-a16a-49ca0bd87759"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{eventAvgNumPrsn}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="140" width="132" height="20" forecolor="#000000" uuid="c483e352-48bb-42bc-bbd2-707849e54f76"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[eventSpclNte]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="140" width="338" height="18" uuid="7a70640d-6c49-4797-a153-e30c1491f0be"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{eventSpclNte}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="160" width="132" height="20" forecolor="#000000" uuid="c9ba588c-233a-4f82-b545-87116b198b41"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[avgPrice]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="160" width="338" height="18" uuid="6230a251-9253-4610-88ba-47f0497a2553"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{avgPrice}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="180" width="132" height="20" forecolor="#000000" uuid="c1970618-55cb-4d0c-a924-2893d8cb65fc"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[spclNote]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="180" width="338" height="18" uuid="7ece9119-662c-4243-b267-d8d861ab47a6"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{spclNote}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="200" width="132" height="20" forecolor="#000000" uuid="8b4ff8ea-e624-4f85-a4f8-82e1213ba22e"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[venueName]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="200" width="338" height="18" uuid="b1719b3f-38d1-4649-be14-369cb556529a"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{venueName}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="220" width="132" height="20" forecolor="#000000" uuid="349ae931-c49d-4e75-aa72-5593a71643bb"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[venueAddress]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="220" width="338" height="18" uuid="39628d84-31f4-4019-80c0-5e4df565c768"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{venueAddress}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="240" width="132" height="20" forecolor="#000000" uuid="4faba0ea-06bc-46a0-bc91-0761cb44fc25"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[venueCity]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="240" width="338" height="18" uuid="58fc90b1-8032-44ef-a8a8-f048f859eca9"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{venueCity}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="260" width="132" height="20" forecolor="#000000" uuid="a7ab2f9a-ec41-4e6a-a212-5a09c41b527e"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[venueEmail]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="260" width="338" height="18" uuid="d391744f-ec72-48cc-905d-1cf33160ecc0"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{venueEmail}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="280" width="132" height="20" forecolor="#000000" uuid="bb1e5e34-6035-42ef-b0be-662bdf3d7e1f"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[venueTP]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="280" width="338" height="18" uuid="33a31770-9747-49d4-a354-b608395e4e02"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{venueTP}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="300" width="132" height="20" forecolor="#000000" uuid="1a349228-5cc1-47d3-b8eb-be21b29a6604"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[typeOfMeal]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="300" width="338" height="18" uuid="b55feb9a-47cc-4e07-ade4-72da6e7b235d"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{typeOfMeal}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="320" width="132" height="20" forecolor="#000000" uuid="7d48c3a1-9ac5-493b-816d-4e0e04cb7c0e"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[breakfast]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="320" width="338" height="18" uuid="e1f07a2f-1f3a-4fb6-93b8-e8c1469ba6b9"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{breakfast}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="340" width="132" height="20" forecolor="#000000" uuid="cb2e5d2b-396e-4a1b-b171-7f2bac292082"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[lunch]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="340" width="338" height="18" uuid="79e0f2fa-5eed-4f9b-b6e1-06990302f37c"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{lunch}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="360" width="132" height="20" forecolor="#000000" uuid="3df1af50-24cf-4e21-948a-86ba1c4366b5"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[dinner]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="360" width="338" height="18" uuid="3f606dee-c418-4f6d-b247-2ef9f9d5a93b"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{dinner}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="380" width="132" height="20" forecolor="#000000" uuid="47dfa445-921c-4c8f-9be6-fa82f23fea87"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[evngTea]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="380" width="338" height="18" uuid="d16f06ed-2781-49dc-a719-116c0f3e748c"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{evngTea}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="400" width="132" height="20" forecolor="#000000" uuid="f887a206-d770-40a2-b4d5-c4246adf945d"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[cocktail]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="400" width="338" height="18" uuid="c1c091fb-c6e2-42a4-8aff-7c1fad61acd8"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{cocktail}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="420" width="132" height="20" forecolor="#000000" uuid="cc56bf09-f137-45ea-8f4c-60c946b5fdd1"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[caterName]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="420" width="338" height="18" uuid="1ca833cc-341e-4055-a181-fd8d60157a54"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{caterName}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="440" width="132" height="20" forecolor="#000000" uuid="53eb5944-08c8-4a32-817d-3f49e2e3ce9e"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[caterAddress]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="440" width="338" height="18" uuid="fa3b1695-fe0d-41ce-ac9b-e30f1b18e0c2"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{caterAddress}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="460" width="132" height="20" forecolor="#000000" uuid="3ef75737-287d-4a2a-8b90-e9036b44f755"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[caterEmail]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="460" width="338" height="18" uuid="39c7ed30-29e9-4e6d-8c7d-9c01768d29c7"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{caterEmail}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="480" width="132" height="20" forecolor="#000000" uuid="202035fd-81f9-498e-a60a-847dd844fc72"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[caterTP]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="480" width="338" height="18" uuid="2980514f-75f6-4954-a049-54289eacc814"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{caterTP}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="500" width="132" height="20" forecolor="#000000" uuid="ebcea701-837c-4793-96ec-41e5c2472f9b"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[flowers]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="500" width="338" height="18" uuid="d7b127f4-5699-4550-813c-47d6668d59f5"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{flowers}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="520" width="132" height="20" forecolor="#000000" uuid="76c34713-3a94-49eb-a402-911938bb015e"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[candles]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="520" width="338" height="18" uuid="e862e4bc-5355-4aa1-bc2b-19031cac57dd"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{candles}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="540" width="132" height="20" forecolor="#000000" uuid="6045aa60-074c-4361-8626-a80d599e267b"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[balloons]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="540" width="338" height="18" uuid="fe5bab47-0e5a-4461-a74d-f7d89ba2db2a"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{balloons}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="560" width="132" height="20" forecolor="#000000" uuid="39c7c05c-fa5f-4bfc-b11c-e4db125e666f"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[ornemants]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="560" width="338" height="18" uuid="9c4988f5-d605-4412-bc9e-48c3ee732aad"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{ornemants}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="580" width="132" height="20" forecolor="#000000" uuid="f6ba8ae6-f9e1-4b13-8e8a-60291d193aec"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[lights]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="580" width="338" height="18" uuid="70564131-4d6c-441b-9fde-12c97340e665"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{lights}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="600" width="132" height="20" forecolor="#000000" uuid="31a6ec5b-a0ea-4b94-a354-993484619d95"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[avgCost]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="600" width="338" height="18" uuid="308c0b14-83e7-4f38-95ad-e8a9e7b906a2"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{avgCost}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="620" width="132" height="20" forecolor="#000000" uuid="156cef92-2ce6-4764-88bf-bdd21cb1633c"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[decoName]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="620" width="338" height="18" uuid="63ec9d83-6941-4fdf-9069-95b2be656d68"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{decoName}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="640" width="132" height="20" forecolor="#000000" uuid="c35c569a-c373-4fa5-8f42-56494ae11a82"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[decoAddress]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="640" width="338" height="18" uuid="334fc08c-4154-496d-b5af-a30c91dc37f9"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{decoAddress}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="660" width="132" height="20" forecolor="#000000" uuid="4f960717-ce23-4ef5-852c-f1ee8e66fdb7"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[decoEmail]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="660" width="338" height="18" uuid="218a1b51-48aa-40f5-ba9c-a0de81edf4cb"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{decoEmail}]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement style="Column header" positionType="Float" x="79" y="680" width="132" height="20" forecolor="#000000" uuid="fce100c7-0be1-4dab-a3ff-cd6475dabb5b"/>
				<textElement textAlignment="Right">
					<font isBold="false"/>
				</textElement>
				<text><![CDATA[decoTP]]></text>
			</staticText>
			<textField isStretchWithOverflow="true" isBlankWhenNull="true">
				<reportElement style="Detail" positionType="Float" x="215" y="680" width="338" height="18" uuid="4bc839bb-170b-4911-8675-8876e1a0bfbe"/>
				<textElement>
					<font size="14" isBold="true" pdfFontName="Times-Bold"/>
				</textElement>
				<textFieldExpression><![CDATA[$F{decoTP}]]></textFieldExpression>
			</textField>
		</band>
	</detail>
	<columnFooter>
		<band height="7" splitType="Stretch">
			<line>
				<reportElement positionType="FixRelativeToBottom" x="0" y="3" width="555" height="1" uuid="d5e8e78c-260f-4b1b-aa21-c7078ba3c4c2"/>
				<graphicElement>
					<pen lineWidth="0.5" lineColor="#999999"/>
				</graphicElement>
			</line>
		</band>
	</columnFooter>
	<pageFooter>
		<band height="13" splitType="Stretch">
			<frame>
				<reportElement mode="Opaque" x="2" y="0" width="555" height="13" forecolor="#D0B48E" backcolor="#9DB1B8" uuid="5c01e0bd-eeb5-484f-89f4-026e06d08361"/>
				<textField evaluationTime="Report">
					<reportElement style="Column header" x="513" y="-1" width="40" height="13" forecolor="#FFFFFF" uuid="8eb24489-b84c-4416-b344-6ead47e7fe98"/>
					<textElement verticalAlignment="Middle">
						<font size="10" isBold="false"/>
					</textElement>
					<textFieldExpression><![CDATA[" " + $V{PAGE_NUMBER}]]></textFieldExpression>
				</textField>
				<textField>
					<reportElement style="Column header" x="433" y="-1" width="80" height="13" forecolor="#FFFFFF" uuid="ef45278f-7f4b-4086-92c2-0381b0bfec08"/>
					<textElement textAlignment="Right" verticalAlignment="Middle">
						<font size="10" isBold="false"/>
					</textElement>
					<textFieldExpression><![CDATA["Page "+$V{PAGE_NUMBER}+" of"]]></textFieldExpression>
				</textField>
				<textField pattern="EEEEE dd MMMMM yyyy">
					<reportElement style="Column header" x="2" y="0" width="197" height="13" forecolor="#FFFFFF" uuid="5885656b-f415-4c3f-a450-15252965f0ff"/>
					<textElement verticalAlignment="Middle">
						<font size="10" isBold="false"/>
					</textElement>
					<textFieldExpression><![CDATA[new java.util.Date()]]></textFieldExpression>
				</textField>
			</frame>
		</band>
	</pageFooter>
	<summary>
		<band splitType="Stretch"/>
	</summary>
</jasperReport>
